<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/article">
                Articles
            </a>
            <a class="navbar-brand" href="/article/create">
                Create Article
            </a>
            <a class="navbar-brand" href="/user/login">
                Sign in
            </a>
            <a class="navbar-brand" href="/user/logout">
                Logout
            </a>
            <a class="navbar-brand" href="/user/register">
                Sign up
            </a>
        </div>
    </div>
</nav>